{% load get_user %}
<header>
    <!-- Navigation Bar -->
    <h1>
        <a class="index-navigation" href="{% url 'home' %}"
        ><span>World of Speed</span></a
        >
    </h1>
    <nav>
        {% get_user as profile %}
        {% if not profile %}
            <a href="{% url 'profile-create' %}">Create Profile</a>
        {% else %}
            <a href="{% url 'catalogue' %}">Catalogue</a>
            <a href="{% url 'create-car' %}">Create Car</a>
            <a href="{% url 'profile-details' %}">Profile</a>
        {% endif %}
    </nav>
</header>